body {
  font-family: 'Raleway', sans-serif;
  background-color: #dfe4ea;
}

.container{
 
}

.row{
  background-color: coral;
  text-align: center;
  justify-content: center;
  width: 20%;
  padding-left: 1px;
  padding-bottom: 10px;
  padding-right: 1px;
  padding-top: 20px;
  margin: 10px;
  border-radius: 10px;
}

.titulo{
  font-size: 55px;
  font-weight: bold;
  color: black;
  height:100px;
  margin:0px auto;
  justify-content: center;
  text-align: center;
}




